* {
  font-family: "courier", "arial";
  /* color: (rgba(0, 0, 0, 0.5)); */
}
.container_top {
  display: grid;
  grid-template-areas:
    "a a b b b b b b c c"
    "d d f g g g g g c c"
    "d d j j j j j j i i"
    "e e k k k k k k h h";
  grid-row: auto;
  grid-column-gap: 20px;
}

.container_top > div {
  font-size: 12px;
  padding: 4px;
  /* border:1px solid black; */
}

.drivkraft {
  grid-area: a;
}
.namn {
  grid-area: b;
}
.fordel {
  grid-area: c;
}
.personlighetsdrag {
  grid-area: d;
}
.alder {
  grid-area: f;
}
.hemort {
  grid-area: g;
}
.livsstil {
  grid-area: j;
}
.egenhet {
  grid-area: e;
}
.sysselsattning {
  grid-area: k;
}
.instinkt {
  grid-area: i;
}
.tur {
  grid-area: h;
}
